<!DOCTYPE html>
<html lang="en">
<head>
        
</head>
<link rel="stylesheet" href="/public/styles/base.css">
<body class="container">
<link rel="stylesheet" href="/styles/base.css">
<header>
    <h1>Saved books!</h1>
</header>

<main>  
         <button type="button">Search</button>
        <section class="book-view container">
            <ul id="book-list">
              <% books.forEach(book => { 
                  console.log('book', book); %>
                <li class="book-item" data-id="<%= book.id %>">
                  <h1><%= book.title %></h1>
                  <p> <strong>Author</strong> : <%= book.author %></p>
                  <p> <strong>Isbn</strong>: <%= books.isbn %></p>
                   <img src =<%= book.image_url %>> 
                  <p> <strong>description</strong>: <%= book.description %></p>
                  <a href="/books/book/<%= book.id%>">View Details</a>
                </li>
                <% }) %>
              </ul>     
          </section>
   </main>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <script src="server.js"></script>
<footer>
    
</footer>

</body>
</html>