<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/public/styles/base.css">   
</head>
<body>
<main>  
  <button type="button">Search</button>
  <p>Number of books: <%= numBooks %></p>
        <section class="book-view container">
            <ul id="book-list">
              <% books.forEach(book => {  %>
                <li class="book-item" data-id="<%= book.id %>">
                  <h1><%= book.title %></h1>
                  <p> <strong>Author</strong> : <%= book.author %></p>
                   <img src =<%= book.image_url %>>
                  <a href="/books/book/<%= book.id%>">View Details</a>
                </li>
                <% }) %>
              </ul>     
          </section>
   </main>
</body>
</html>