<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/public/styles/base.css">   
</head>
<body>
  <main>  
    <p><a href="/new-search">Search</a></p>
    <p>Number of books: <%= numBooks %></p>
    <h1>Saved Books</h1>
   <section class="book-view container">
     <ul id="book-list">
       <% books.forEach(book => {  %>
         <li class="book-item" data-id="<%= book.id %>">
           <img src =<%= book.image_url %>>
           <p><%= book.title %></p>
           <p><%= book.author %></p>
           <a href="/book-details/ <%= book.id%>">View Details</a>
         </li>
       <% }) %>
     </ul>     
   </section>
  </main>
</body>
</html>