
    <% books.forEach( book => { %>
      <li>
        <img src="<%= book.thumbnail %>">
        <p>Title: <%= book.title %></p>
        <p>Author: <%= book.author %></p>
        <p>Description: <%= book.description %></p>
        <a href="/save-book/ <%= book.id%>">Select this Book</a>
      </li>
    <% }) %>
  </ul>
